@ShutdownOnFailedCommand 1  // set to 0 if updating multiple servers at once
@NoPromptForPassword 1  // disables promt for password on execution

force_install_dir /home/steam/sevendaystodie-server  // will be installed into this directory

login anonymous  // logs in with steams public anonymous account

app_update 294420 validate  // will update 7 Days To Die and validate the files received

quit
